.contentHome{
    width: 100%;
    height: 85vh;

    display: var(--flex);
    justify-content: var(--center);
    align-items: var(--center);
}

.contentHome .container{
    margin-top: 10px;
    padding-bottom: 10px;
    width: 98%;
    height: 90%;

    display: var(--flex);
    justify-content: var(--space-around);
    align-items: var(--center);
    flex-wrap: var(--wrap);

    overflow-y: auto;
}

.contentHome .container .left{
    width: 22%;
    height: 100%;
}

.contentHome .container .left .div1{
    width: 100%;
    height: 35%;

    background-color: #FFF;

    margin-bottom: 30px;
}

.contentHome .container .left .div1 a{
    width: 100%;
    height: 100%;

    display: var(--flex);
    justify-content: var(--center);
    align-items: var(--center);

    text-decoration: none;

}

.contentHome .container .left .div1 img{
    width: 80%;
}

#void{
    width: 50%;
}

.contentHome .container .left .div2{
    width: 100%;
    height: 60%;

    background-color: #FFF;

    box-shadow: 0px 12px 1px -4px rgba(0,0,0,0.07);
}

.contentHome .container .left .div2 .container{
    width: 90%;
    height: 90%;

    display: var(--flex);
    justify-content: var(--center);
    align-items: var(--flex-start);
}

.contentHome .container .center{
    width: 45%;
    height: 100%;
}

.contentHome .container .center .div1{
    width: 100%;
    height: 65%;

    background-color: #00C6C1;

    display: var(--flex);
    justify-content: var(--center);
    align-items: var(--center);

    margin-bottom: 29px;
}

.contentHome .container .center .div1 .Carousel{
    width: 100%;
    height: 100%;

    display: var(--flex);
    justify-content: var(--center);
    align-items: var(--center);
}

#slide1{
    background-color: #00C6C1;

    background-image: url("IMG/imagem1.jpg");
    background-size: var(--cover);
    background-position: var(--center);

    display: var(--flex);
    justify-content: var(--center);
    align-items: var(--center);

    width: 100%;
    height: 100%;

    color: #fff;

    font-size: 16pt;
}
#slide2{
    background-color: #FECA4F;

    background-image: url("IMG/imagem2.jpg");
    background-size: var(--cover);
    background-position: var(--center);

    display: var(--flex);
    justify-content: var(--center);
    align-items: var(--center);

    width: 100%;
    height: 100%;

    color: #fff;

    font-size: 16pt
}
#slide3{
    background-color: #FF9C9A;

    background-image: url("IMG/imagem3.jpg");
    background-size: var(--cover);
    background-position: var(--center);
    background-position-x: 85%;

    display: var(--flex);
    justify-content: var(--center);
    align-items: var(--center);

    width: 100%;
    height: 100%;

    color: #fff;

    font-size: 16pt
}

#slide4{
    background-color: #FF9C9A;

    background-image: url("IMG/imagem4.jpg");
    background-size: var(--cover);
    background-position: var(--center);

    display: var(--flex);
    justify-content: var(--center);
    align-items: var(--center);

    width: 100%;
    height: 100%;

    color: #fff;

    font-size: 16pt
}


.contentHome .container .center .botton{
    width: 100%;
    height: 30%;

    display: var(--flex);
    justify-content: var(--space-between);
    align-items: var(--center);
}

.contentHome .container .center .botton .div2{
    width: 30%;
    height: 100%;

    background-color: #FECA4F;
}

.contentHome .container .center .botton .div3{
    width: 30%;
    height: 100%;

    background-color: #FF9C9A;
}

.contentHome .container .center .botton .div4{
    width: 30%;
    height: 100%;

    background-color: #00DED3;
}

.contentHome .container .right{
    width: 25%;
    height: 100%;
}

.contentHome .container .right .top{
    width: 100%;
    height: 47%;

    background-color: #fff;

    margin-bottom: 30px;
}

.contentHome .container .right .top .container{
    width: 90%;
    height: 90%;

    display: var(--flex);
    justify-content: var(--space-around);
    align-items: var(--flex-start);
    flex-wrap: var(--wrap);

    overflow-y: auto;
}

.contentHome .container .right .bot{
    width: 100%;
    height: 48%;

    background-color: #fff;

    display: var(--flex);
    justify-content: var(--center);
    align-items: var(--space-around);
    flex-wrap: var(--wrap);
}

.contentHome .container .right .bot .container{
    width: 90%;
    height: 85%;

    display: var(--flex);
    justify-content: var(--center);
    align-items: var(--flex-start);
    flex-wrap: var(--wrap);

    overflow-y: auto;
}

#div{
    -webkit-box-shadow: 0px 12px 1px -4px rgba(0,0,0,0.07); 
    box-shadow: 0px 12px 1px -4px rgba(0,0,0,0.07);

    display: var(--flex);
    justify-content: var(--center);
    align-items: var(--center);
}