.postMensagem{
    width: 90%;
    height: 120px;

    background-color: #fff;

    display: var(--flex);
    flex-wrap: var(--nowrap);

    box-shadow: var(--box-shadow);

    margin-bottom: 40px;
}

.postMensagem .avatarContainer{
    width: 15%;
    height: 100%;

    display: var(--flex);
    justify-content: var(--center);
    align-items: var(--center);
}

.postMensagem .avatarContainer .avatar{
    width: 60px;
    height: 60px;

    border-radius: 100%;

    background-color: #878787;
}

.postMensagem .textContainer{
    width: 70%;
    height: 100%;
}

.postMensagem .infosContainer{
    width: 15%;
    height: 100%;

    color:  #878787;

    display: var(--flex);
    justify-content: var(--center);
    align-items: var(--center);
}