.cardGrupo{
    width: 320px;
    height: 220px;

    background-color: #fff;

    display: var(--flex);
    
    margin-left: 50px;
    margin-bottom: 25px;
    margin-top:  26px;

    box-shadow: var(--box-shadow);
}

.cardGrupo .title{
    width: 60%;
    height: 100%;


    display: var(--flex);
    justify-content: var(--center);
    align-items: var(--center);

    color: #878787;
}

.cardGrupo .capa{
    width: 40%;
    height: 80%;

    margin-left: -20px;
    margin-top: -20px;

    background-image: url("IMG/capa.jpg");
    background-position: var(--center);
    background-size: var(--cover);
    background-color: #ccc;

    box-shadow: var(--box-shadow);
}