.cardDonationAdicionar{
    width: 340px;
    height: 190px;

    margin-bottom: 40px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 10px;

    border: dashed 5px rgba(121, 121, 121, 0.164);

    display: var(--flex);
    justify-content: var(--center);
    align-items: var(--center);
}

.cardDonationAdicionar img{
    width: 22%;

    cursor: pointer;
}