.cardLivro{
    width: 300px;
    height: 200px;

    background-color: #fff;
    box-shadow:var(--box-shadow);

    margin-right: 30px;
    margin-left: 33px;
    margin-bottom: 40px;

    border-radius: 3px;

    display: var(--flex);
    justify-content: var(--center);
    align-items: var(--center);
}

.cardLivro .container{
    width: 95%;
    height: 95%;

    display: var(--flex);
    justify-content: var(--center);
    flex-wrap: var(--wrap);
}

.cardLivro .container .cardTitle{
    margin-top: 10px;
    width: 90%;
    height: 55%;

    color: #878787;
}

.cardLivro .container .cardImage{
    width: 90%;
    height: 45%;

    display: var(--flex);
    justify-content: var(--flex-start);
    align-items: var(--center);
}

.cardLivro .container .cardImage .image{
    width: 50px;
    height: 50px;

    border-radius: 100%;

    background-color: #00CEC2;
}