.cardLivro{
    width: 300px;
    height: 200px;

    background-color: #fff;
    box-shadow:var(--box-shadow);

    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 40px;

    border-radius: 3px;

    display: var(--flex);
    justify-content: var(--center);
    align-items: var(--center);
}

.cardLivro .container{
    width: 95%;
    height: 95%;
}
