.donations{
    width: 100%;
    height: 85vh;

    display: var(--flex);
    justify-content: var(--center);
    align-items: var(--center);
}
.donations .container{
    margin-top: 10px;
    width: 89%;
    height: 90%;

    display: var(--flex);
    justify-content: var(--flex-start);
    flex-wrap: var(--wrap);

    overflow-y: auto;
}

@media only screen and (max-width: 450px) {
    .donations{
        height: 77vh;
    }
}