.cardGrupoAdicionar{
    width: 310px;
    height: 215px;

    margin-left: 50px;
    margin-bottom: 25px;
    margin-top:  26px;

    display: var(--flex);
    justify-content: var(--center);
    align-items: var(--center);

    border: dashed 5px rgba(121, 121, 121, 0.164);
}

.cardGrupoAdicionar img{
    width: 25%;
    
    cursor: pointer;
}