.cardPost{
    width: 390px;
    height: 220px;

    background-color: #fff;

    box-shadow: var(--box-shadow);

    margin-right: 20px;
    margin-bottom: 30px;
}

.cardPost .cardHeader{
    width: 100%;
    height: 60px;

    display: var(--flex);
    justify-content: var(--center);
    align-content: var(--center);
}

.cardPost .cardHeader .containerC{
    width: 85%;
    height: 60px;

    display: var(--flex);
    justify-content: var(--space-between);
    align-items: var(--center);

    margin-top: 5px;
}

.cardPost .cardHeader .containerC .tag{
    width: 120px;
    height: 60%;

    border-radius: 5px;

    color: #fff;

    display: var(--flex);
    justify-content: var(--center);
    align-items: var(--center);
}

.cardPost .cardHeader .containerC .data{
    width: 80px;
    height: 100%;

    display: var(--flex);
    justify-content: var(--center);
    align-items: var(--center);

    font-size: 11pt;
    color: #EFEDF1;
}

.cardPost .title{
    width: 100%;
    height: 30px;

    display: var(--flex);
    justify-content: var(--center);
    align-items: var(--center);
}

.cardPost .title .container{
    width: 85%;
    height: 100%;

    display: var(--flex);
    justify-content: var(--flex-start);
    align-items: var(--center);

    color: var(--font-color-2); 
}

.cardPost .texto{
    margin-top: 5px; 

    width: 100%;
    height: 95px;

    display: var(--flex);
    justify-content: var(--center);
    align-items: var(--center);
}

.cardPost .texto .container{
    width: 85%;
    height: 100%;

    display: var(--flex);
    justify-content: var(--flex-start);
    align-items: var(--flex-start);

    color: var(--font-color);  
    font-size: 11pt;
}

.cardPost .delete{
    margin-top: -10px;

    width: 100%;
    height: 30px;

    display: var(--flex);
    justify-content: var(--center);
    align-items: var(--center);
}

.cardPost .delete .containerE{
    width: 90%;
    height: 100%;
}

.cardPost .delete .containerE form{
    width: 100%;
    height: 100%;

    display: var(--flex);
    justify-content: var(--flex-end);
    align-items: var(--center);
}

.cardPost .delete .containerE form input[type="submit"]{
    background-color: transparent;
    background-image: url("IMG/delete.png");
    background-position: var(--center);
    background-size: 70%;
    background-repeat: no-repeat;

    border: none;

    padding: 5px 25px;

    cursor: pointer;

    outline: none;
}

#book{
    background-color: #FFD333;
}

#comment{
    background-color: #FF9C9A;
}

#other{
    background-color: #00CEC2;
}

#admin{
    background-color: #9DEE8F;
}