.card{
    width: 28%;
    height: 200px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 20px 30px -16px rgba(9,9,16,.08);
    margin-right: 25px;
    margin-left: 25px;
    margin-bottom: 50px;
    border-bottom: solid 6px #5353F8;
}

.card .cardInfos{
    width: 100%;
    height: 150px;
}

.card .cardBotton{
    width: 100%;
    height: 50px;
    display: var(--flex);
    justify-content: var(--flex-end);
}

.card .cardBotton .etiqueta{
    width: 60px;
    height: 50px;
    border-top-left-radius: 8px;
    background-color: #5353F8;
    display: var(--flex);
    justify-content: var(--center);
    align-items: var(--center);
    color: #fff;
}