.cardChoise{
    width: 28%;
    height: 56%;
    background-color: #fff; 
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    box-shadow: 0 20px 30px -16px rgba(9,9,16,.08);
    display: var(--flex);
    justify-content: var(--center);
    align-items: var(--center);
    color: var(--corTitulos); 
}


.cardChoise:first-child{
    border-left: solid 6px rgba(138, 70, 246, 0.445);
}