.cardAdicionar{
    width: 220px;
    height: 250px;

    display: var(--flex);
    justify-content: var(--center);
    align-items: var(--center);

    border: dashed 5px rgba(121, 121, 121, 0.164);

    cursor: pointer;

    margin-right: 25px;
    margin-left: 25px;
    margin-bottom: 40px;
}

.cardAdicionar img{
    width: 35%;
}

.cardAdicionar img:hover{
    filter: brightness(100%);
}