.cardAdicionar{
    width: 235px;
    height: 250px;

    display: var(--flex);
    justify-content: var(--center);
    align-items: var(--center);

    border: dashed 5px rgba(121, 121, 121, 0.164);

    cursor: pointer;
}

.cardAdicionar img{
    width: 35%;
}