body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bc-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


:root {
  --cover: cover;
  --flex: flex;
  --center: center;
  --flex-end: flex-end;
  --flex-start: flex-start;
  --space-evenly: space-evenly;
  --space-around: space-around;
  --space-between: space-between;
  --wrap: wrap;
  --nowrap: nowrap;
  --bc-color: #EFEEF1;
  --font-color: rgb(199, 199, 200);
  --box-shadow: 0px 12px 1px -4px rgba(0,0,0,0.07);
  
}